.App{
  align-items: center;  
}
.nav-bank{
  background-color: rgb(0, 123, 255);
  color: whitesmoke;
}
.nav-bank-link{
  color: rgb(147, 188, 221);
}
.label-bank{
  font-weight: bold ;
  color: rgb(0, 123, 255); 
  margin-right: 10px;      
}
.form-bank{
  margin: 20px;
  padding: 5px;
}
.btn-section-bank{
  align-items: center;  
}
.input-login{
  margin-top: 10px;
  text-align: center; 
}
.img-login{
  font-size: 20em;
  text-align: center;
  color: rgb(0, 123, 255); 
}
.errorMsg {
  font-weight: bolder;  
}
.errorMsg-blk{
  font-weight: bolder;
  color: black;
}
.errorMsg-danger{
  font-weight: bolder;
  color: red;
}

