.App{
  align-items: center;  
}
.nav-bank{
  background-color: rgb(27, 40, 69) !important; 
  color: whitesmoke !important;
  border-bottom: 3px solid white !important;
}
.nav-bank-collapse{
  background-color: rgb(27, 40, 69) !important; 
  color: whitesmoke !important;  
}
.nav-bank-danger{
  background-color: rgb(220, 53, 69);
  color: whitesmoke;
}
.nav-bank-link{
  color: rgb(147, 188, 221) !important;
}
.label-bank{
  font-weight: bold ;
  color: rgb(27, 40, 69); 
  margin-right: 10px;      
}
.form-bank{
  margin: 20px;
  padding: 5px;
}
.btn-section-bank{
  align-items: center;  
}
.input-login{
  margin-top: 10px;
  text-align: center; 
}
.input-nav{
  text-align: center; 
}
.img-login{
  font-size: 20em;
  text-align: center;
  color: rgb(27, 40, 69); 
}
.errorMsg {
  font-weight: bolder;  
}
.errorMsg-blk{
  font-weight: bolder;
  color: black;
}
.errorMsg-danger{
  font-weight: bolder;
  color: rgb(220, 53, 69);
}
.btn-trx{  
  margin: 20px 3px 5px;
}
.btn-bank{
  font-weight: bolder !important;
  color: rgb(27, 40, 69) !important;     
}
.btn-nav{
  font-weight: bolder !important;
  background-color: rgb(27, 40, 69) !important; 
  border-color: rgb(220, 53, 69);
  color: seashell !important;
}
.img-welcome{
  width: 100%;
}
.nav-margin{
  margin-right: 50px;
}
.img-welcome-nav{
  width: 60px;
}
.welcome{
  height: 200px;
  margin-top: 200px;
}
.error{
  height: 200px;
  margin-top: 200px;
}
.input-amount{
  text-align: right;
  margin-right: 20px;
}
.form-row-bank{
  margin-top: 10px;
}
.table-bank{
  text-align: center;
}
.device-ok{
  color:green
}
.device-ko{
  color:rgb(220, 53, 69)
}
.header-info{
  color: rgb(27, 40, 69);   
  background-color:  rgb(248, 249, 250);
}