.nav-bank{
  background-color: darkblue;
  color: whitesmoke;
}
.nav-bank-link{
  color: rgb(147, 188, 221);
}
.label-bank{
  font-weight: bold ;
  color: darkblue;
  margin-right: 10px;      
}
.form-bank{
  margin: 20px;
  padding: 5px;
}
.btn-section-bank{
  align-items: center;  
}
